
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');




*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{
     background-color:rgba(199, 190, 190, 0.263);
    font-family: "Inter", sans-serif;
    

}

nav{
    position: fixed;
    width: 100%;
    z-index: 2000;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 40px;
    height: 80px;
    background-color:rgba(227, 226, 226, 0.717);
    


    
    
}


.nav-img{
    height:80px;
    width: 80px;
    cursor: pointer;
    
    
}

.nav-links a{
    padding: 0px 25px;
    font-size: 17px;
    text-decoration: none;
    color: black;
    
    
    
}

.nav-links a:hover{
    color: rgb(141, 97, 32);
    text-decoration:underline;
}

.nav-links i{
    padding: 0px 20px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.nav-links i:hover{
    color: rgb(141, 97, 32);
    font-size: 20px;
}

#section-1{
    padding-top: 80px;
}

.section-1-container{
    min-height: 500px;
    background-image: url(E4E00F84-6FEA-461F-9561-6CE49D9A6B20\ \(1\).jpg);
    width:100%;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.overlay h2{
    padding-top: 170px;
    color: rgba(188, 188, 99, 0.979);
    background-color: rgba(0, 0, 0, 0.037);
    font-size: 42px;
    font-weight: 900;
     font-family: "Courgette", cursive;
}

.overlay-black{
    color: rgb(183, 178, 178);
}


.section-2-container h2{
    text-align: center;
    font-size: 35px;
    font-weight: 570;
    color: rgba(58, 58, 58, 0.897);
    padding-top: 20px;
    padding-bottom: 20px;
}


.section-3-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-3-img{
    width: 350px;
    height: 400px;
    box-shadow: 0px 20px 50px -12px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}



.section-3-description h1{
    font-size: 16px;
    font-weight: 500;
    padding-top: 17px;
    
}

.section-3-description p{
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 8px;
     color: rgba(122, 120, 120, 0.897);
}

.section-3-description b{
    font-size: 16px;
    font-weight: 500;
    
}

#section-3-all-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
}


.section-4-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-4-img{
    width: 350px;
    height: 400px;
    box-shadow: 0px 20px 50px -12px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}



.section-4-description h1{
    font-size: 16px;
    font-weight: 500;
    padding-top: 17px;
    
}

.section-4-description p{
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 8px;
     color: rgba(122, 120, 120, 0.897);
}

.section-4-description b{
    font-size: 16px;
    font-weight: 500;
    
}

#section-4-all-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
}




.section-5-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-5-img{
    width: 350px;
    height: 400px;
    box-shadow: 0px 20px 50px -12px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}



.section-5-description h1{
    font-size: 16px;
    font-weight: 500;
    padding-top: 17px;
    
}

.section-5-description p{
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 8px;
     color: rgba(122, 120, 120, 0.897);
}

.section-5-description b{
    font-size: 16px;
    font-weight: 500;
    
}

#section-5-all-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
}



